*[data-icon]:before{
    font-size: 2rem;
}


[data-icon="facebook"]::before{
    content: '\00C0';
}

[data-icon="instagram"]:before{
    content: '\00C1';
}

[data-icon="linkedin"]:before{
    content: '\00C2';
}