body{
    margin: 0;
}

#app {
    font-family: Gilroy, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color:var(--MainText);
    padding: 0;
    background-color: var(--DarkColor);
}

a{
    color: var(--MainText);
}
