body {
  margin: 0;
  background-color: var(--DarkColor);
  box-sizing: border-box;
}

.backgroundBox {
  background-image: url(../../../src/assets/BOX.svg);
  background-size: contain;
  background-repeat: no-repeat;
  width: 57rem;
  margin-left: -30rem;
  height: 30rem;
  position: absolute;
  opacity: 0.7;
}

.projectImageBulls {
  background-image: url("../../../src/assets/BULLS.svg");
  background-position-x: 15vw;
}

.projectImageSpiderman {
  background-image: url("../../../src/assets/SPIDERMAN.svg");
  background-position-x: 55vw;
}

.projectImageJuventus {
  background-image: url("../../../src/assets/JUVENTUS\ KIT.svg");
  background-position-x: 15vw;
}

.projectImageBulls,
.projectImageSpiderman,
.projectImageJuventus {
  min-height: 50vh;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: 30rem;
}

#app {
  font-family: Gilroy, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: var(--MainText);
  padding: 0;
  background-color: var(--DarkColor);
  padding-bottom: 10rem;
}

a {
  color: var(--MainText);
}

.fade-in {
  animation: fadeIn ease-out 6s;
  -webkit-animation: fadeIn ease-out 6s;
  -moz-animation: fadeIn ease-out 6s;
  -o-animation: fadeIn ease-out 6s;
  -ms-animation: fadeIn ease-out 6s;
}

.fade-out {
  animation: fadeOut ease-out 4s;
  -webkit-animation: fadeOut ease-out 4s;
  -moz-animation: fadeOut ease-out 4s;
  -o-animation: fadeOut ease-out 4s;
  -ms-animation: fadeOut ease-out 4s;
  opacity: 0;
}

.center {
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@-moz-keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@-webkit-keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@-o-keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@-ms-keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-o-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-ms-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
